body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.traffic-light {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.light.red {
  background-color: red;
}
.light.yellow {
  background-color: yellow;
}
.light.green {
  background-color: green;
}

.light.active {
  opacity: 1;
  box-shadow: 0 0 20px 5px white;
}
